.redborder {
    border-color: #ff0000 !important;
}

#smt_payment_form {
    padding: 20px;
}

#smt_payment_form input[type=text],
#smt_payment_form input[type=url],
#smt_payment_form input[type=email],
#smt_payment_form input[type=tel],
#smt_payment_form input[type=number] {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    width: 100%;
}

#smt_payment_form input[type=number] {
    padding: 0 0 0 15px;
}

#smt_payment_form input[type=submit] {
    background: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#smt_payment_form .row {
    padding: 10px 0;
}

.list-radios-amount {
    list-style: none;
    overflow: hidden;
}

.list-radios-amount li {
    float: left;
    display: inline-block;
    padding: 0 20px 0 0;
}

.list-radios-amount li .radio {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-radios-amount li input[type=radio] {
    float: left;
    margin-top: 6px;
    margin-left: 0;
}

.list-radios-amount li label {
    padding-left: 20px;
}

.BcMessage h4 {
    text-align: center;
    line-height: 1.5;
}